<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <title>码畜社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/community.css}">
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap-theme.min.css}">
</head>
<script type="application/javascript">
    window.onload = function () {
        var closable = window.localStorage.getItem("closable");
        if(closable=="true"){
            window.close();
            window.localStorage.removeItem("closable");
        }
    }
</script>
<body>
<div th:replace="navagation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h3><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 发现</h3><hr>
            <div th:if="${pageInfoDTO.questionDTOS.size()!=0}">
                <div class="media" th:each="questionDTO:${pageInfoDTO.questionDTOS}">
                    <div class="media-left">
                        <img th:if="${questionDTO.user!=null}" class="media-object" th:src="${questionDTO.user.avatarUrl}" style="margin-top: 5px;height: 50px;width: 50px">
                    </div>
                    <div class="media-body">
                        <a th:href="@{'/question/' + ${questionDTO.id}}">
                            <h4 class="media-heading" th:text="${questionDTO.title}">Media heading</h4>
                        </a>
                        <span th:text="${questionDTO.description}"></span>
                        <div class="text-desc">[[${questionDTO.commentCount}]] 个回复 • [[${questionDTO.viewCount}]] 次浏览 •
                        [[${#dates.format(questionDTO.gmtCreate,'yyyy-MM-dd HH:mm')}]]</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
           热门话题
        </div>
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination" th:if="${pageInfoDTO.totalPages>5}">
            <li th:if="${pageInfoDTO.isToFirst()==true}">
                <a th:href="@{/index(currentPage=1)}">首页</a>
            </li>
            <li>
                <a href="#" aria-label="Previous" th:if="${pageInfoDTO.isToLast()==true}" th:href="@{/index(currentPage=${pageInfoDTO.currentPage}-1)}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
                <li th:class="${pageInfoDTO.currentPage==pageNum}?active" th:each="pageNum:${pageInfoDTO.pageNumbers}"><a th:href="@{/index(currentPage=${pageNum})}" th:text="${pageNum}"></a></li>
            <li>
                <a href="#" aria-label="Next" th:if="${pageInfoDTO.isToNext()==true}" th:href="@{/index(currentPage=${pageInfoDTO.currentPage}+1)}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li th:if="${pageInfoDTO.isToEnd()==true}">
                <a th:href="@{/index(currentPage=${pageInfoDTO.totalPages})}">末页</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>